.contacts {

    &__container {
        padding-top: 58px;
        padding-bottom: 53px;
        @include flex;
        flex-direction: column;

        @include _540 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__form {
        max-width: 540px;
        padding-bottom: 79px;

        @include _540 {
            max-width: 100%;
        }

        @include _540 {
            padding-left: 20px;
        }
    }
}

.label-wrapper {
    @include flex;
    padding: 20px 10px 0;
}

.form {
    &__label {
        @include flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        margin-bottom: 27px;
        border: none;

        &--file {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    &__submit {
        display: block;
        margin: 0 auto;
        margin-top: 14px;
        width: 180px;
        height: 48px;
        border: 2px solid $contact-us-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        background-color: transparent;
        color: $contact-us-color;
        cursor: pointer;
    }

    &__descr {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.045em;
        color: $text-white;

        &--file {
            margin: 0 32px;
            padding-top: 7px;
            padding-right: 11px;
            background-image: url('../../img/file.png');
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }

    &__input {
        width: 540px;
        height: 34px;
        border: none;
        border-bottom: 1px solid $light-gray;
        background-color: transparent;
        outline: none;
        font-size: 15px;
        line-height: 18px;
        padding-left: 18px;
        color: $text-white;

        @include _540 {
            width: 100%;
        }

        &::placeholder {
            color: $placeholder-color;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
        }

        &--select {
            display: none;
        }

        &--message {
            height: 90px;
            padding-top: 5px;
            padding-left: 27px;
        }

        &--file {
            flex-direction: row;
            width: 0.1px;
	        height: 0.1px;
	        opacity: 0;
	        overflow: hidden;
	        position: absolute;
	        z-index: -1;
        }
    }
}

.adress {
    @include flex;
    background-color: $adress-bg;
    width: 100%;

    @include _769 {
        flex-wrap: wrap;
    }

    &__info {
        padding-top: 27px;

        @include _769 {
            width: 100%;
        }
    }

    &__socials {
        display: inline-block;
    }

    &__map {
        width: 57%;
        height: 317px;

        @include _769 {
            width: 100%;
        }
    }
}

.map {
    &__frame {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.info {

    &__item {
        display: block;
        padding-left: 98px;
        margin-bottom: 10px;

        @include _540 {
            padding-left: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 14px;
        line-height: 19px;
        text-transform: lowercase;
        color: $bg-dark;
        margin-bottom: 3px;
    }

    &__value {
        display: block;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: $bg-dark;
    }
}